<% if(linkOrText.slice(0, 4) === 'http') { %>
     <a href="<%= linkOrText%>" target="_blank" rel="noopener noreferrer">
        <% if(posts.length > 0) {%>
            <%= linkOrText.slice(0,64)%>
            <% if (linkOrText.length > 50) {%>
                ...
            <% } %>
        <% } else { %>
            <%= linkOrText%>
        <% } %>
    </a>
<% } else { %>
    <%= linkOrText%>
<% } %>